.teachers-large-screen { display: block; }
.teachers-small-screen { display: none; }

.teacher-grid {
  display: grid;
  grid-template-columns: 250px 1fr;
  margin-bottom: 50px;
}

.teacher-text { 
  line-height: 145%; 
  align-self: center;
}

.teacher-name {
  font-weight: 600;
  font-size: 110%;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.teacher-position {
  font-family: var(--justlovely);
  font-size: 150%;
  margin-bottom: 20px;
}

.teacher-about, .teacher-about-small-screen {
  font-family: var(--opensans);
  font-size: 90%;
}

.teacher-about-small-screen { grid-column: 1 / span 2; }

.awards-grid {
  display: grid;
  grid-template-columns: repeat(2, 40%);
  -webkit-column-gap: 10%;
  -moz-column-gap: 10%;
  column-gap: 10%;
}

.awards-grid, .performance-list { font-size: 85%; }

.teacher-avatar {
  height: 250px;
  width: 250px;
  position: relative;
}

.teacher-avatar img:first-of-type { 
  height: 100%;
  width: 100%;
}

.teacher-avatar img:nth-child(2) {
  height: 65%;
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 50%;
}

@media only screen and (max-width: 1023px) {
  .teacher-avatar { 
    width: 180px;
    height: 180px;
  }

  .teacher-grid { grid-template-columns: 180px 1fr; }
}

@media only screen and (max-width: 767px) {
  .teachers-large-screen { display: none; }
  .teachers-small-screen { display: block; }
}

@media only screen and (max-width: 480px) {
  .awards-grid, .performance-list { font-size: 95%; }
  .awards-grid {
    grid-template-columns: repeat(2, 47.5%);
    column-gap: 5%;
  }
  .teacher-avatar {
    height: 140px;
    width: 140px;
  }
}