.page-wrapper {
    width: 80%;
    margin: 40px auto;
}

.page-title{
    text-align: center;
    font-size: 325%;
    font-weight: 100;
    letter-spacing: 5px;
    margin: 20px 0;
}

hr {
    width: 200px;
    margin: auto;
    height: 2px;
    border: none;
    background-color: var(--red-color);
}