.App {
  background-color: #fff;
  position: relative;
  min-height: 100vh;
}

.red-text {
  color: var(--dk-red-color);
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }