.about {
  width: 80%;
  margin: 0 auto;
  line-height: 155%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.about-icons {
  width: 200px;
  margin: 10px auto;
}

.about-photo {
  height: 200px;
  display: flex;
  justify-content: center;
}

.download-info-pack {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  margin: 50px 0;
}

.download-info-pack:hover { color: var(--red-color); }

.download-info-pack div { margin-right: 5px; }

.about-photo img { height: 100%; }